.logo-div{
    float: left;
}
.nav-div{
    
    margin-left: 100px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    background-color: #111;
    /* display: flex; */
    justify-content: space-between;
}

.logo {
    position: fixed;
    width: 80px;
    left: 20px;
}
.avatar {
    position: fixed;
    width: 30px;
    right: 20px;
    top: 18px;
    border-radius: 2px;
}
.nav-list {
    list-style-type: none;
    /* margin-left: 100px; */
   /*  position: fixed;
    top: 15px; */
    vertical-align: middle;
    float: left;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}
  
.nav-item {
    float: left;
}
  
.nav-item a {
    display: block;
    color: rgb(238, 238, 238);
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}
  
.nav-item a:hover {
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
}