.rowpost{
    margin-left: 20px;
    color: #fff;
    margin-top: 15px;
    font-size: 0.8rem;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.posters::-webkit-scrollbar {
    display: none;
}
.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}
.small-poster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
}
.poster:hover, .small-poster:hover{
    transform: scale(1.1);
}